*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

div img{
    display: block;
    width: 100%;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    min-width: 320px;
    padding: 10px 15px;
}

header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
}

header .list-items{
    display: flex;
    width: 100%;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
}

.list-items li a{
    color: antiquewhite;
}

header .menu{
    justify-content: space-between;
    color: #fff;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: justify;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;
    color: #122a57;
}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{    
    display: flex;
    background-color: #122a57;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    margin-top: 10px;  
    margin-bottom: 10px;
    justify-content: center;
}

#quem-somos{
    align-items: center;
    justify-content: justify;
    color: #122a57;
}

#quem-somos h2{
    font-size: 32px;
    color:#122a57;
    display: flex;
    margin-bottom: 15px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}

#quem-somos img{
    min-width: 500px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;
}

#servicos{
    flex-direction: column;
    padding: 60px 0;
}

#servicos h2{
    font-size: 32px;
    color: #fff;
    margin-bottom: 25px;
}

.list-servicos{
    max-width: 992px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-servicos .item-servicos{
    text-align: center;
}

.item-servicos a{
    width: 220px;
    background-color: white;
    border-radius: 30px;
    height: 80px;
    text-align: center;
    line-height: 50px;
    margin-top: 200px;
    padding: 12px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 700;
    color: #122a57;
}

.item-servicos p{
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    margin-top: 10px
}

.item-servicos img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    min-height: 70vh;
}

#planos h2{
    font-size: 32px;
    color: #122a57;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.list-plano{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.item-plano{
    flex: 1;
    border: 4px solid #122a57;
    margin-right: 20px;
    padding: 10px;
    max-width: 240px;
}

.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.item-plano h3::after{
    content: "";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.item-plano ul li{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 5px;
}

.item-plano ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #122a57;
    margin-right: 10px;
}

footer{
    background-color: black;
    color: #fff;
    height: 70px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

footer .footer{
    justify-content: space-between;
}

@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }

    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }

    #quem-somos img{
        min-width: 320px;
        margin: auto;
    }

    .list-servicos{
        flex-direction: column;
    }

    .item-servicos img{
        width: 50%;
        margin: auto;
    }

    .list-plano{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .list-plano .item-plano{
        max-width: 90%;
        margin: auto;
        width: 100%;
        margin-bottom: 20px;
    }

}